In [1]:
# list of high sschools
high_schools = ["Hernandez High School", "Figueroa High School", "Wilson High School", "Wright High School"]

In [2]:
for school in high_schools:
    print(school)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [8]:
# a schools dictionary
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]
for school in high_school_types:
    print(school)

{'High School': 'Griffin', 'Type': 'District'}
{'High School': 'Figueroa', 'Type': 'District'}
{'High School': 'Wilson', 'Type': 'Charter'}
{'High School': 'Wright', 'Type': 'Charter'}

In [19]:
# list of schools
high_schools = ['Huang High School', 'Figuroa High School', "Shelton High school", 
                'Hernandez High School', 'Griffin High School', 'Wilson High School',
                'Cabrera High School', 'Bailey High School', 'Holden high High', 'Pena High School',
                'Rodrigue High school', 'Johnson High School', 'Thomas High School', 'Ford High School']

In [15]:
# import pandas library, alias pd, as a dependency
import pandas as pd

In [17]:
# creating a high school list pandas series
school_series = pd.Series(high_schools)

In [20]:
# after creating a series, we need to call it...
school_series = pd.Series(high_schools)
school_series

0         Huang High School
1       Figuroa High School
2       Shelton High school
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8          Holden high High
9          Pena High School
10     Rodrigue High school
11      Johnson High School
12       Thomas High School
13         Ford High School
dtype: object

In [22]:
# iterate through list of schools
for schools in high_schools:
    print(schools)

Huang High School
Figuroa High School
Shelton High school
Hernandez High School
Griffin High School
Wilson High School
Cabrera High School
Bailey High School
Holden high High
Pena High School
Rodrigue High school
Johnson High School
Thomas High School
Ford High School

In [25]:
high_schools_dict =  [{'school ID': 0,'school_name':'Huang High School', 'Type':  'District'},
                {'school ID': 1,'school_name':'Figuroa High School', 'Type':  'District'},
                {'school ID': 2,'school_name':'Shelton High school', 'Type': 'Charter'},
                {'school ID': 3,'school_name':'Hernandez High School', 'Type': 'Charter'}, 
                {'school ID': 4,'school_name':'Griffin High School', 'Type':  'District'}, 
                {'school ID': 5,'school_name':'Wilson High School', 'Type': 'Charter'},
                {'school ID': 6,'school_name':'Cabrera High School', 'Type':  'District'}, 
                {'school ID': 7,'school_name':'Bailey High School', 'Type': 'Charter'}, 
                {'school ID': 8,'school_name':'Holden high High', 'Type':  'District'}, 
                {'school ID': 9,'school_name':'Pena High School', 'Type':  'District'},
                {'school ID': 10,'school_name':'Rodrigue High school', 'Type':  'District'}, 
                {'school ID': 11,'school_name':'Johnson High School', 'Type': 'Charter'}, 
                {'school ID': 12,'school_name':'Thomas High School',  'Type':  'District'},
                {'school ID': 13,'school_name':'Ford High School', 'Type': 'Charter'}]

In [26]:
# convert the array into a dataframe .....then call the dataframe
school_df = pd.DataFrame(high_schools_dict)
school_df

    school ID            school_name      Type
0           0      Huang High School  District
1           1    Figuroa High School  District
2           2    Shelton High school   Charter
3           3  Hernandez High School   Charter
4           4    Griffin High School  District
5           5     Wilson High School   Charter
6           6    Cabrera High School  District
7           7     Bailey High School   Charter
8           8       Holden high High  District
9           9       Pena High School  District
10         10   Rodrigue High school  District
11         11    Johnson High School   Charter
12         12     Thomas High School  District
13         13       Ford High School   Charter

In [30]:
# we can add each column of a series/list to an empty dataframe
# here are 3 separate lists

school_id = [0, 1, 2, 3, 4, 5, 6]

school_name = ['Huang High School', 'Figuroa High School', 'Shelton High school',
               'Hernandez High School', 'Griffin High School', 'Wilson High School', 'Cabrera High School']

type_of_school = ['District', 'District', 'Charter', 'Charter', 'District', 'District', 'Charter']

In [28]:
# inititalize an empty data frame
schools_df = pd.DataFrame()

In [29]:
# adding lists to empty dataFrame and printing them
schools_df["School ID"] = school_id

schools_df["School Name"] = school_name

schools_df["School Type"] = type_of_school

# print
schools_df

   School ID            School Name School Type
0          0      Huang High School    District
1          1    Figuroa High School    District
2          2    Shelton High school     Charter
3          3  Hernandez High School     Charter
4          4    Griffin High School    District
5          5     Wilson High School    District
6          6    Cabrera High School     Charter

In [33]:
# alternatively create a dictionary from the list then write to df

high_school_dict = {"School ID": school_id, "School Name": school_name, "School Type": type_of_school}

# write dictionary to dataFrame

schools_df = pd.DataFrame(high_school_dict)
# print
schools_df

   School ID            School Name School Type
0          0      Huang High School    District
1          1    Figuroa High School    District
2          2    Shelton High school     Charter
3          3  Hernandez High School     Charter
4          4    Griffin High School    District
5          5     Wilson High School    District
6          6    Cabrera High School     Charter

In [38]:
# get columns of a dataframe
schools_df.columns

Index(['School ID', 'School Name', 'School Type'], dtype='object')

In [40]:
# get indices of df
schools_df.index

RangeIndex(start=0, stop=7, step=1)

In [41]:
# get the value
schools_df.values

array([[0, 'Huang High School', 'District'],
       [1, 'Figuroa High School', 'District'],
       [2, 'Shelton High school', 'Charter'],
       [3, 'Hernandez High School', 'Charter'],
       [4, 'Griffin High School', 'District'],
       [5, 'Wilson High School', 'District'],
       [6, 'Cabrera High School', 'Charter']], dtype=object)

In [42]:
high_schools_dict =  [{'school ID': 0,'school_name':'Huang High School', 'Type':  'District'},
                {'school ID': 1,'school_name':'Figuroa High School', 'Type':  'District'},
                {'school ID': 2,'school_name':'Shelton High school', 'Type': 'Charter'},
                {'school ID': 3,'school_name':'Hernandez High School', 'Type': 'Charter'}, 
                {'school ID': 4,'school_name':'Griffin High School', 'Type':  'District'}, 
                {'school ID': 5,'school_name':'Wilson High School', 'Type': 'Charter'},
                {'school ID': 6,'school_name':'Cabrera High School', 'Type':  'District'}, 
                {'school ID': 7,'school_name':'Bailey High School', 'Type': 'Charter'}, 
                {'school ID': 8,'school_name':'Holden high High', 'Type':  'District'}, 
                {'school ID': 9,'school_name':'Pena High School', 'Type':  'District'},
                {'school ID': 10,'school_name':'Rodrigue High school', 'Type':  'District'}, 
                {'school ID': 11,'school_name':'Johnson High School', 'Type': 'Charter'}, 
                {'school ID': 12,'school_name':'Thomas High School',  'Type':  'District'},
                {'school ID': 13,'school_name':'Ford High School', 'Type': 'Charter'}]

In [43]:
school_df.columns

Index(['school ID', 'school_name', 'Type'], dtype='object')

In [44]:
school_df.index

RangeIndex(start=0, stop=14, step=1)

In [45]:
school_df.values

array([[0, 'Huang High School', 'District'],
       [1, 'Figuroa High School', 'District'],
       [2, 'Shelton High school', 'Charter'],
       [3, 'Hernandez High School', 'Charter'],
       [4, 'Griffin High School', 'District'],
       [5, 'Wilson High School', 'Charter'],
       [6, 'Cabrera High School', 'District'],
       [7, 'Bailey High School', 'Charter'],
       [8, 'Holden high High', 'District'],
       [9, 'Pena High School', 'District'],
       [10, 'Rodrigue High school', 'District'],
       [11, 'Johnson High School', 'Charter'],
       [12, 'Thomas High School', 'District'],
       [13, 'Ford High School', 'Charter']], dtype=object)